.parameters {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.filter {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

}

.options {
  width: 200px;
}

.options:hover {
  background-color: rgb(25, 13, 159);
  color: rgb(190, 206, 220);
}

.showRecipes {
  margin-top: 50px;
  border: 2px solid transparent;
  background-color: rgb(25, 13, 159);
  color: rgb(190, 206, 220);
}

.showRecipes:hover {
  border: 2px solid #fff;
}

button {
  padding: 10px 20px;
  border: 1px solid transparent;
  border-radius: 20px;
  margin: 8px 5px;
  text-transform: uppercase;
  cursor: pointer;
}

.filter > button {
  text-transform: lowercase;
  background-color: rgb(190, 17, 138);
}

.filter > button:hover {
  background-color: rgb(253, 153, 223);

  transition: 0.3s;
}

.filter .chosen {
  background-color: rgb(74, 194, 50);
}

