.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.5);
}
.modal {
  padding: 30px;
  max-width: 650px;
  margin: 200px auto;
  background: #fff;
  border-radius: 10px;

  display: grid;
  grid-template-areas: 
  "title title"
  "ingredients information"
  "ingredients information"
  "ingredients information";
}

.title {
  grid-area: title;
  display: flex;
  align-items: center;
}

img {
  max-width: 30%;
}

.ingredients{
  grid-area: ingredients;
  max-width: 50%;
}

.information{
  grid-area: information;
}

