.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.5);
  
}
.modal {
  padding: 30px;
  max-width: 60vw;
  max-height: 80vh;
  overflow: auto;
  margin: 50px auto;
  background: #fff;
  border-radius: 10px;

  display: grid;
  grid-gap: 0.5rem;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  grid-template-areas: 
  "header header"
  "ingredients wine";
}

.header {
  grid-area: header;

  max-width: 100%;
  position: relative;
  max-height: 300%;
  overflow: hidden;
}

.header > img {
  height: 125%;
}

.info {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  position: relative;
  top: -70%;

  text-align: center;
  padding: 20px;
}

.info h3 {
  margin: 0 0 20px 0;
  color: #fff;
}
.info p {
  margin-top: 20px;
  color: #fff;
}

.header button {
  width: 20px;
  height: 20px;
  padding: 0;
  margin: 10px;
  background-color: rgb(184, 184, 184);
  color: #fff;

  position: absolute;
  right: 0;
}

.ingredients {
  grid-area: ingredients;
}

.ingredients li {
  margin: 5px 20px;
}

.wine {
  grid-area: wine;
}

.wine p {
  line-height: 1.5em;
  margin-bottom: 20px;
  text-align: justify;
}

.diet {
  display: inline-block;
  padding: 10px 20px;
  border-radius: 20px;
  margin: 5px 5px;
  font-size: 12px;
}

.yes {
  background-color: rgb(205, 255, 220);
}

.no {
  background-color: rgb(247, 172, 158);
}